html, body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

h1{
    font-size: 34px;
    padding: 10px;
    padding-left: 0px;
}
h2{
    font-size: 24px;
    padding: 10px;
    padding-left: 0px;
}
h3{
    font-size: 20px;
    padding: 8px;
    padding-left: 0px;
    font-weight: bold;
}
b{
    font-weight: bold;
}
.highlight{
    color: #DB0A5B;
}

#leftContent{
    height: 100%;
    width: 49.7%;
    border: solid #ccc 1px;
    background-image: url("../content/images/leftContentBack.jpg");
    /*background-color: #7f8c8d;*/
    background-repeat: no-repeat;
    float: left;
    display: table;
}

#welcomeTextWrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#rightContent{
    height: 100%;
    width: 50%;
    /*border: solid #eee 1px;*/
    float: left;
    color: #e1e1e1;
}
#rightContentTop,#rightContentMiddle,#rightContentBottom{
    height: 33.3%;
    width: 100%;
    border: solid darkgray 1px;
    background-image: url("../content/images/rightContentBack3.png");
    background-repeat: no-repeat;
    /*background-color: #EEEEEE;*/
    background-size: 100%;
    display:table;
    cursor: pointer;

    /*For zoom out and in */
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

#rightContentTop:hover, #rightContentMiddle:hover, #rightContentBottom:hover{
    /*transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);*/

}
.normal:hover, .closed:hover{
    opacity: 0.7;
    transition: opacity 1s;
}
/*#leftContentTop{
    background-image: url("../content/images/placeholder_mac.png");
    background-repeat: no-repeat;
    background-size: 100%;
 }*/
.rightContentWrapper{
    display: table-cell;
    vertical-align: middle;
}

.rightContentHeading, .icon{
    float:left
}
.rightContentHeading{
    font-size: 22px;
    color: black;
    margin-left: 3%;
    padding-top: 15px;
}
.icon{
    margin-left: 5%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: solid #eee 0px;
    border-radius: 9999px;
    background-color: rgba(77, 78, 83, .8); /*rgba becuase of opacity*/
}
.icon i{
    font-size: 26px;
    color: #fff;
    margin-left: 32%;
    margin-top: 28%;

}
#filterBox{
    clear:both;
    display: none;
    height: 100%;
    color: black
}
.box{
    clear:both;
    display: none;
    height: 100%;
    width: 100%;
    padding: 30px 30px 30px 0px;
}

#rightContentBottom .box{
    line-height: 1.7em;
    font-size: 17px;
    font-weight: 100;
    width: 90%;
    float: right;
    text-align: justify;
}
.automaticNumberCounter{
    font-size: 24px;
    text-align: center;
    color: #0E778E;
    font-weight: 700;
}
.automaticNumberCounter:first-of-type{
    color: #E1CF21;
}

#uploadForm{
    margin-top: 15px;
}

#file{
    display: none;
}

#label{
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    background-color: #DB0A5B;
    padding: 10px 30px;
    width: 150px;
    height: 75px;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    line-height: 30px;
    border: none;
}

#label:hover, #submitLabel:hover{
    box-shadow: 5px 5px 10px #bdc3c7;
}


#submitLabel, #filterForm > button{
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    background-color: #DB0A5B;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    line-height: 30px;
    border: none;
    margin-top: 20px;
}

#filterForm {
    font-size: 14px;
}

.switch{
    margin-top: 15px;
    margin-bottom: 15px;
}

.chart {
    font-size: 14px;
    display: table;
    table-layout: fixed;
    width: 60%;
    max-width: 700px;
    height: 200px;
    margin: 0 auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
    background-size: 100% 50px;
    background-position: left top;
}
.chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
}
.chart span {
    margin: 0 1em;
    display: block;
    background-color: #00678F;
    animation: draw 1s ease-in-out;
}
.chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 1em 0;
    display: block;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
}

.chartDiv{
    margin-bottom: 50px;
}
@keyframes draw {
    0% {
        height: 0;
    }
}

/*Added by Daniel*/
#formData{
    margin-bottom: 10%;
}
.datePicker{
    width: 80%;
    border: none;
    height: 40px;
    border-bottom: 1px solid #26a69a;
    background-color: transparent;
    color: white;
}
#range{
    width: 80%;
}
.switch label .lever{
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
    cursor: pointer;
}
/*Copied Styles from Materialize*/
.switch label .lever::after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #F1F1F1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
}
switch label .lever::before{
    content: "";
    right: 5px;
}
.switch input[type=checkbox]:checked + label {
    left: 43px;
}
.switch input[type=checkbox] {
    visibility: hidden;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #26a69a;
    left: 24px;
}


form p {
    margin-bottom: 10px;
    text-align: left;
}

form p:last-child {
    margin-bottom: 0;
}
/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type="checkbox"] {
    /* checkbox aspect */
}

[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
}

[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}

[type="checkbox"]:not(.filled-in) + label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:not(:checked):disabled + label:before {
    border: none;
    background-color: rgba(0, 0, 0, 0.26);
}

[type="checkbox"].tabbed:focus + label:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"]:checked:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + label:before {
    top: -11px;
    left: -12px;
    width: 10px;
    height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid #26a69a;
    border-bottom: none;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"]:indeterminate:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    background-color: transparent;
}

[type="checkbox"].filled-in + label:after {
    border-radius: 2px;
}

[type="checkbox"].filled-in + label:before,
[type="checkbox"].filled-in + label:after {
    content: '';
    left: 0;
    position: absolute;
    /* .1s delay is for check animation */
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
}

[type="checkbox"].filled-in:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0;
}

[type="checkbox"].filled-in:checked + label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0;
}

[type="checkbox"].filled-in.tabbed:focus + label:after {
    border-radius: 2px;
    border-color: #5a5a5a;
    background-color: rgba(0, 0, 0, 0.1);
}

[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
    border-radius: 2px;
    background-color: #26a69a;
    border-color: #26a69a;
}

[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
    background-color: transparent;
    border: 2px solid transparent;
}

[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
    border-color: transparent;
    background-color: #BDBDBD;
}

[type="checkbox"].filled-in:disabled:checked + label:before {
    background-color: transparent;
}

[type="checkbox"].filled-in:disabled:checked + label:after {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}

